/* Import variables and mixins */ 
@import "utilities/variables";
@import "utilities/mixins";

/* Global */

html {
	-webkit-text-size-adjust: none;
}

BODY,
* {
	-webkit-font-smoothing: antialiased;
	font-family: 'PT Sans';
}

*, 
*:before,
*:after {
	@include box-sizing;
}

.button {
	A {
		background: green;
		color: $white;
		display: block;
		@include mirror-condensed-regular;
		font-size: 1.6em;
		padding: 8px 0 5px 0;
		text-align: center;
		text-transform: uppercase;
	}
}

/* Global > Mode dimensions */

#mode-dimensions {	
	background: url(/assets/images/transparencies/ffffff/percent-60.png) repeat left top;
	border: solid 1px #777;
	@include border-radius-10px;
	left: 10px;
	padding: 5px;
	position: fixed;	
	top: 10px;
	z-index: 4;
	
	STRONG {
		color: $black;
		font-weight: bold;
	}
	
	#mode {
		font-weight: bold;
	}
	
	SPAN {
		text-transform: uppercase;
	}
}

/* Global > News feed */

.update {
	border-bottom: solid 1px #e0e0e0;
	margin-bottom: 10px;
	position: relative;
		
	.outer {		
		>H4 {
			clear: left;
			@include mirror-condensed-bold;
			font-size: 1.6em;
			margin-bottom: 10px;
		}
		
		>EM {
			clear: left;
			display: block;
			float: left;
			margin-bottom: 10px;
			margin-right: 40px;
			
			&.match-heading {
				color: #999;
				font-size: 0.9em;
			}
			
			&.highlight-heading {
				background: $green;
				color: #fff;
				font-size: 0.9em;
				padding: 2px 4px;
				text-transform: uppercase;
			}
		}
		
		>P {
			margin-bottom: 10px;
			
			&.tweet-this-post {				
				A {
					background: url(/assets/images/tweets/green.png) no-repeat left center;
					background-size: auto 100%;
					color: $green;
					display: block;
					padding-left: 25px;
					text-decoration: underline;
					text-transform: uppercase;
				}
			}
		}
		
		.additional-content {
			display: none;
		}
	}
			
	&.side-image {
		.image {
			float: left;
			margin-bottom: 10px;
			width: 30%;
			
			IMG {
				display: block;
				width: 100%;
			}
		}
		
		.outer {
			float: right;
			padding-bottom: 0;
			width: 68%;
		}
	}
}