/* Global > Mixins */

@mixin box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin border-radius-5px {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

@mixin border-radius-10px {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

@mixin clearfix {
	&:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
	}
}

@mixin clear-floats {
	clear: both;
}

@mixin background-stretch {
	background-size: 100% 100%;
}

@mixin box-shadow {
	-moz-box-shadow: 0px 0px 5px 0px rgba(50,50,50,0.75);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50,50,50,0.75);
	box-shadow: 0px 0px 5px 0px rgba(50,50,50,0.75);
}

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
}

@mixin mirror-condensed-bold {
	font-family: 'mirror-condensed-bold', sans-serif;
	line-height: 1;
}

@mixin mirror-condensed-semi-bold {
	font-family: 'mirror-condensed-semi-bold', sans-serif;
	line-height: 1;
}

@mixin mirror-condensed-regular {
	font-family: 'mirror-condensed-regular', sans-serif;
	line-height: 1;
}

@mixin pt-sans {
	font-family: 'PT Sans', sans-serif;
}

@mixin slate-pattern {
	background: url(/assets/images/repeater-gray-pattern.gif) repeat left top;
}