/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

H1.component-title {
	background: #e90e0e;
	color: #fff;
	@include mirror-condensed-bold;
	font-size: 4em;
	margin-bottom: 20px;
	padding: 20px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 2;
}

H2.component-title {
	background: #c00000;
	border-bottom: solid 1px $black;
	color: $white;
	@include mirror-condensed-regular;
	font-size: 3em;
	margin-bottom: 10px;
	padding-top: 3px;
	text-align: center;
}

HR {
	display: none;
}

.component-wrapper {
	@include box-shadow;	
	margin: 10px auto 40px auto;
	padding: 10px;

	&#fixed {
		margin-top: 120px;
		width: 970px;
	}

	&#fluid {
		width: 90%;
	}
	
	.component-inner {
		background: $component-fill-colour;
	}
}