/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

/* Core styles */

.hub-teaser {
	.see-more {
		background-image: url(/assets/images/feed-arrows/gray.png);
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		display: block;
		height: 14px;
		position: absolute;
		right: 10px;
		text-indent: -9999px;
		top: 0;
		width: 21px;
		
		&.expanded {
			background-position: left -14px;
		}
	}	
}

/* Fixed pixel grid styles */

#fixed {
	.hub-teaser {
	
	}
}

/* Fluid grid styles */

#fluid {
	.hub-teaser {
		.outer {
			>H4 {
				margin-right: 40px;
			}
			
			>EM,
			>P {
				display: none;
			}
		}
	}
}