/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

/* Core styles */

.opinion-teaser {
	.see-more {
		background-image: url(/assets/images/feed-arrows/gray.png);
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		display: block;
		height: 14px;
		position: absolute;
		right: 10px;
		text-indent: -9999px;
		top: 0;
		width: 21px;
		
		&.expanded {
			background-position: left -14px;
		}
	}	
}

/* Fixed pixel grid styles */

#fixed {
	.opinion-teaser {
	
	}
}

/* Fluid grid styles */

#fluid {
	.opinion-teaser {
		
	}
}