/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

/* Core styles */

.blog-post {
	.time-type {
		background: #f1f1f1;
		@include mirror-condensed-bold;
		font-size: 1.1em;
		margin-bottom: 10px;
		height: 23px;
		
		SPAN {
			background: #141414;
			color: $white;
			float: left;
			font-family: inherit;
			font-size: inherit;
			letter-spacing: 1px;
			padding: 3px 5px 3px 10px;
		}
		
		EM {
			background: url(/assets/images/feed-arrows/time-type-edge.gif) no-repeat left top;
			@include background-stretch;
			clear: none;
			display: block;
			float: left;
			height: 23px;
			text-indent: -9999px;
			width: 12px;
		}
		
		STRONG {
			sbackground: blue;
			float: right;
			font-family: inherit;
			font-size: inherit;
			padding: 3px 10px 3px 5px;
			text-transform: uppercase;
		}
	}

	.see-more {
		background-image: url(/assets/images/feed-arrows/gray.png);
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 14px;		
		position: absolute;
		right: 10px;
		text-indent: -9999px;
		top: 37px;
		width: 21px;
		
		&.expanded {
			background-position: left -14px;
		}
	}
	
	IMG {
		&.inline {
			display: block;
			margin-bottom: 10px;
		}
	}
}

/* Fixed pixel grid styles */

#fixed {
	.blog-post {
		IMG {
			&.inline {
				-moz-box-shadow: 0px 0px 5px 0px #ccc;
				-webkit-box-shadow: 0px 0px 5px 0px #ccc;
				border: solid 10px $white;
				box-shadow:  0px 0px 5px 0px #ccc;
				margin-left: auto;
				margin-right: auto;
				width: 620px;
			}
		}
	}
}

/* Fluid grid styles */

#fluid {
	.blog-post {
		.outer {
			padding: 0 15px;
			
			IMG {
				&.inline {
					margin-left: -5%;
					width: 110%;
				}
			}
		}
	}
}