/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

/* Core styles */

#header {
	position: relative;
	
	H1 {
		background-image: url(/assets/images/mirror-logo.gif);
		background-position: left top;
		background-repeat: no-repeat;
		@include background-stretch;
		margin: 0 auto;
		text-indent: -9999px;
	}
}

/* Fixed pixel grid styles */

#fixed {
	#header {
		padding-top: 52px;
		
		H1 {
			height: 90px;			
			width: 300px;
		}
				
		#global-links {
			background: #1b1c1d;
			left: 0;
			padding: 0 10px;
			position: absolute;
			top: 0;
			width: 100%;
			
			UL {
				float: left;
			
				&#social-links {
					float: right;
										
					LI {
						margin-left: 5px;	
						margin-right: 0;
						padding-bottom: 0;
						padding-top: 5px;
												
						A {
							background-position: left top;
							background-size: 100% auto;
							display: block;
							height: 22px;
							text-indent: -9999px;
							width: 22px;
							
							&:hover {
								background-position: left -22px;
							}
							
							&.facebook {background-image: url(/assets/images/social-icons/facebook.png);}
							&.twitter {background-image: url(/assets/images/social-icons/twitter.png);}
							&.google-plus {background-image: url(/assets/images/social-icons/google-plus.png);}
						}
					}
				}
				
				LI {					
					float: left;
					margin-right: 10px;
					padding: 7px 0 8px 0;
					
					&#cookie-policy {
						border-left: solid 1px #454545;
						padding-left: 10px;
					}
					
					A {
						color: $white;
						font-size: 0.9em;
						text-transform: uppercase;
					}
				}
			}
		}
		
		#navigation-trigger {
			display: none;
		}
		
		#navigation {
			border-top: solid 5px #e0e0e0;
			margin-top: 20px;
			padding-top: 10px;
					
			H2 {
				background: $green;
				color: $white;
				float: left;
				@include mirror-condensed-bold;
				font-size: 3em;
				height: 45px;
				margin-bottom: 10px;
				padding: 5px 10px 2px 10px;
				text-transform: uppercase;
				
				SPAN {
					color: yellow;
					@include mirror-condensed-regular;
					font-size: inherit;
				}
			}
			
			#primary {
				float: left;
				margin-top: 10px;
				
				LI {
					float: left;
					margin-left: 30px;
					
					A {
						@include mirror-condensed-bold;
						font-size: 2em;
					}
					
					&#back-to-mirror {
						@include mirror-condensed-semi-bold;
						font-size: 1em;				
						left: 10px;
						padding-left: 15px;
						position: absolute;
						top: 85px;
						
						SPAN {
							background-image: url(/assets/images/back-to-the-mirror.gif);
							background-position: left top;
							background-repeat: no-repeat;
							@include background-stretch;
							display: block;
							height: 13px;
							left: 0;
							position: absolute;
							text-indent: -9999px;
							top: 5px;
							width: 9px;
						}
					}
				}
			}
			
			#teams {
				border-bottom: solid 5px #e0e0e0;
				border-top: solid 1px #e0e0e0;
				@include clear-floats;
				margin-top: 10px;
				padding-bottom: 10px;
				padding-top: 10px;
				
				LI {
					float: left;
					height: 12px;
					margin-right: 10px;
					text-indent: -9999px;
					width: 20px;
										
					&:last-of-type {
						margin-right: 0;
					}
					
					A {
						background-image: url(/assets/images/flags.jpg);
						background-position: left top;
						background-repeat: no-repeat;
						background-size: 100% auto;
						display: block;
						
						&.algeria {background-position: left 0;}
						&.argentina {background-position: left -12px;}
						&.australia {background-position: left -24px;}
						&.belgium {background-position: left -36px;}
						&.bosnia-and-herzegovina {background-position: left -48px;}
						&.brazil {background-position: left -60px;}
						&.cameroon {background-position: left -72px;}
						&.chile {background-position: left -84px;}
						&.columbia {background-position: left -96px;}
						&.costa-rica {background-position: left -108px;}
						&.croatia {background-position: left -120px;}
						&.ecuador {background-position: left -132px;}
						&.england {background-position: left -144px;}
						&.france {background-position: left -156px;}
						&.germany {background-position: left -168px;}
						&.ghana {background-position: left -180px;}
						&.greece {background-position: left -192px;}	
						&.honduras {background-position: left -204px;}
						&.iran {background-position: left -216px;}
						&.italy {background-position: left -228px;}
						&.ivory-coast {background-position: left -240px;}
						&.japan {background-position: left -252px;}
						&.mexico {background-position: left -264px;}
						&.netherlands {background-position: left -276px;}
						&.nigeria {background-position: left -288px;}
						&.portugal {background-position: left -300px;}
						&.russia {background-position: left -312px;}
						&.south-korea {background-position: left -324px;}
						&.spain {background-position: left -336px;}
						&.switzerland {background-position: left -348px;}
						&.united-states {background-position: left -360px;}
						&.uruguay {background-position: left -372px;}
					}
				}
			}
		}
	}
}

/* Fluid grid styles */

#fluid {
	#header {
		H1 {
			height: 45px;
			width: 150px;
		}
		
		#global-links {
			display: none;
		}
		
		#navigation-trigger {
			background-image: url(/assets/images/fluid/navigation-trigger.gif);
			background-position: left top;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			height: 40px;
			left: 0;
			position: absolute;
			text-indent: -9999px;
			top: 0;
			width: 40px;
		}
		
		#navigation {
			H2 {
				background: url(/assets/images/fluid/world-cup-heading-background.gif) repeat-x left top;
				border-bottom: solid 1px #e7e7e7;
				color: $green;
				@include mirror-condensed-regular;
				font-size: 2em;
				margin: 10px 0;
				padding: 10px 10px 5px 10px;
				
				SPAN {
					color: inherit;
					font-family: inherit;
					font-size: inherit;
				}
			}
			
			#primary {
				@include slate-pattern;
				
				LI {					
					&:last-of-type {	
						A {
							background: none;
						}
					}
					
					A {
						background: url(/assets/images/fluid/primary-navigation-separator.gif) repeat-x left bottom;
						color: $white;
						display: block;
						@include mirror-condensed-regular;
						font-size: 2em;
						padding: 10px 10px;
						position: relative;
						
						SPAN {
							background-image: url(/assets/images/fluid/primary-navigation.gif);
							background-position: left top;
							background-repeat: no-repeat;
							@include background-stretch;
							display: block;
							position: absolute;
							height: 13px;
							right: 10px;
							text-indent: -9999px;
							top: 15px;
							width: 9px;
						}
					}
				}
			}

			#teams {
				display: none;
			}
		}
	}
}