/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

/* Core styles */

#splash {
	.match {
		background-color: $black;
		height: 418px;
		margin-bottom: 6px;
		position: relative;
		width: 950px;
		h2 {
			@include mirror-condensed-bold;
			color: $splash-green;
			background-color: $white;
			display: inline-block;
			font-size: 1.615em;
			padding: 6px 5px 0;
			position: absolute;
			top: 20px;
			z-index: 1;
		}
		img {
			left: 0;
			@include opacity(0.3);
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 0;
		}
		p {
			left: 20px;
			position: relative;
			top: 265px;
			z-index: 1;
			strong {
				@include mirror-condensed-bold;
				color: $white;
				display: block;
				font-size: 5.538em;
				font-weight: normal;
			}
			strong + a {
				@include mirror-condensed-bold;
				background-color: $splash-green;
				color: $white;
				display: inline-block;
				font-size: 2.769em;
				padding: 12px 15px 6px;
				.splash-arrow-right {
					background: transparent url(../../images/splash-right-arrow-large-white.png) 0 0 no-repeat;
					background-size: 100% 100%;
					display: inline-block;
					height: 20px;
					text-indent: -9999px;
					width: 14px;
				}
			}
		}
		table {
			background-color: rgba(0,0,0, 0.6);
			color: $white;
			left: 20px;
			position: absolute;
			top: 165px;
			z-index: 1;
			tbody {
				tr {
					td {
						color: $white;
						font-size: 5.538em;
						font-weight: normal;
						@include mirror-condensed-bold;
						letter-spacing: 1pt;
						line-height: 0.85;
						padding: 31px 30px;
					}
					td:first-of-type {
						padding-right: 1.2em;
					}
					td:last-of-type {
						color: $splash-green;
					}
				}
				tr:first-of-type {
					td {
						padding-bottom: 5px;
					}
					td:last-of-type {
						padding-left: 0;
					}
				}
				tr:last-of-type {
					td {
						padding-top: 0;
						padding-bottom: 13px;
					}
					td:last-of-type {
						padding-left: 0;
					}
				}
			}
			tfoot {
				tr {
					background-color: $splash-green;
					td {
						padding: 21px 0 15px;
						text-align: center;
						a {
							color: $white;
							@include mirror-condensed-bold;
							font-size: 2.769em;
							letter-spacing: 1pt;
							line-height: 0;
							.splash-arrow-right {
								background: transparent url(../../images/splash-right-arrow-large-white.png) 0 0 no-repeat;
								background-size: 100% 100%;
								display: inline-block;
								height: 20px;
								text-indent: -9999px;
								width: 14px;
							}
						}
					}
				}
			}
		}
		&.live {
			h2 {
				background-color: $splash-yellow;
				color: $black;
			}
			img {
				@include opacity(0.7);
			}
			table {
				tbody {
					tr {
						td:last-of-type {
							color: $splash-yellow;
						}
					}
				}
				tfoot {
					tr {
						td {
							background-color: $splash-yellow;
							a {
								color: $black;
								.splash-arrow-right {
									background-image: url(../../images/splash-right-arrow-large-black.png);
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Fixed pixel grid styles */

#fixed {
	#splash {
		&.triple {
			.match {
				float: right;
				height: 137px;
				margin-bottom: 6px;
				width: 310px;
				p {
					top: 75px;
					left: 10px;
					strong {
						font-size: 1.8em;
					}
					a {
						font-size: 1.231em;
						padding: 6px 8px 4px;
						.splash-arrow-right {
							background-image: url(../../images/splash-right-arrow-small-white.png);
							height: 10px;
							width: 6px;
						}
					}
				}
				&.live {
					.splash-arrow-right {
						background-image: url(../../images/splash-right-arrow-small-black.png);
					}
				}
			}
			.match:first-of-type {
				float: left;
				height: 279px;
				width: 634px;
				table {
					left: 19px;
					top: 98px;
					tbody {
						tr {
							td {
								font-size: 3.67em;
							}
						}
						tr:first-of-type {
							td {
								padding-top: 23px;
							}
						}
						tr:last-of-type {
							td {
								padding-bottom: 11px;
							}
						}
					}
					tfoot {
						td {
							padding: 12px 0 10px;
							a {
								font-size: 1.923em;
								.splash-arrow-right {
									background-image: url(../../images/splash-right-arrow-medium-white.png);
									height: 16px;
									width: 10px;
								}
							}
						}
					}
				}
				&.live {
					.splash-arrow-right {
						background-image: url(../../images/splash-right-arrow-medium-black.png);
						height: 16px;
						width: 10px;
					}
				}
			}
		}
		&.double {
			.match {
				display: block;
				float: left;
				height: 208px;
				margin-bottom: 4px;
				width: 472px;
				table {
					left: 10px;
					top: 66px;
					tbody {
						tr {
							td {
								font-size: 3em;
								padding: 20px;
							}
						}
						tr:first-of-type {
							td {
								padding-bottom: 0;
							}
						}
						tr:last-of-type {
							td {
								padding-bottom: 11px;
								padding-top: 0;
							}
						}
					}
					tfoot {
						td {
							padding: 7px 0 6px;
							a {
								font-size: 1.538em;
								.splash-arrow-right {
									background-image: url(../../images/splash-right-arrow-medium-black.png);
									height: 11px;
									width: 8px;
								}
							}
						}
					}
				}
				p {
					top: 126px;
					left: 10px;
					strong {
						font-size: 3em;
					}
					a {
						font-size: 1.538em;
						padding: 6px 8px 4px;
						.splash-arrow-right {
							background-image: url(../../images/splash-right-arrow-medium-white.png);
							height: 11px;
							margin-left: 4px;
							width: 8px;
						}
					}
				}
			}
			.match:nth-of-type(odd) {
				margin-right: 6px;
			}

		}
	}
}

/* Fluid grid styles */

#fluid {
	#splash {
		.match {
			height: auto;
			margin-bottom: 0;
			width: 100%;
			h2 {
				font-size: 1.3em;
				top: 9px;
			}
			img {
				display: block;
				position: static;
				width: 100%;
			}
			table {
				bottom: 10px;
				left: 10px;
				top: auto;
				tbody {
					td {
						font-size: 2em;
						padding: 10px;
					}
					tr:first-of-type {
						td {
							padding-bottom: 0;
						}
					}
					tr:last-of-type {
						td {
							padding-bottom: 8px;
							padding-top: 0;
						}
					}
				}
				tfoot {
					td {
						padding: 6px 0 4px;
						a {
							font-size: 1.385em;
							.splash-arrow-right {
								background-image: url(../../images/splash-right-arrow-small-white.png);
								height: 10px;
								width: 6px;
							}
						}
					}
				}
			}
			p {
				bottom: 10px;
				left: 10px;
				position: absolute;
				top: auto;
				z-index: 2;
				strong {
					font-size: 2em;
				}
				a {
					font-size: 1.385em;
					padding: 5px 5px 4px;;
					.splash-arrow-right {
						background-image: url(../../images/splash-right-arrow-small-white.png);
						height: 10px;
						width: 6px;
					}
				}
			}
			&.live {
				.splash-arrow-right {
					background-image: url(../../images/splash-right-arrow-small-black.png);
				}
			}
		}
	}
}