/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

/* Core styles */

#tabs-hub {
	.tab-content {
		display: none;
		
		.outer {
			padding: 10px 10px 0 10px;
			
			P {
				margin-bottom: 10px;
			}
		}
	}
}

/* Fixed pixel grid styles */

#fixed {
	#tabs-hub {
		.tab-triggers {
			background: #141414;
			padding: 10px 10px 0 10px;
			
			LI {
				float: left;
				
				A {
					color: #fff;
					display: block;
					@include mirror-condensed-regular;
					font-size: 2em;
					padding: 10px 20px;
				}
				
				&.active {
					A {
						background: $white;
						color: #141414;
					}
				}
			}
		}
	}
}

/* Fluid grid styles */

#fluid {
	#tabs-hub {		
		H3 {
			background: $white url(/assets/images/fluid/tabs-hub-heading-repeater.gif) repeat-x left top; 
			border-bottom: solid 1px #e0e0e0;
			@include mirror-condensed-bold;
			font-size: 1.8em;
			padding: 20px 40px 10px 10px;
			position: relative;
			
			A {
				background-image: url(/assets/images/feed-arrows/green.png);
				background-position: left top;
				background-repeat: no-repeat;			
				background-size: 100% auto;
				display: block;
				height: 14px;
				position: absolute;
				right: 10px;
				text-indent: -9999px;
				top: 25px;
				width: 21px;
			}
		}
	}
}