/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

BODY {
	background: red;
}

/* Global > Mode dimensions */

#mode-dimensions {
	#mode {
		SPAN {
			color: red;
		}
	}
}